<!-- <section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Daniela
            <span class="text-dark">Martins</span>
        </h1>
        <div class="subheading mb-5">
            3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 ·
            <a href="mailto:name@email.com">name@email.com</a>
        </div>
        <p class="lead mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam modi incidunt excepturi
            dolorem dolores accusantium quibusdam autem nulla. Non temporibus ex quibusdam quae, numquam eaque
            voluptatum obcaecati ullam quos modi!
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/daniela-martins-costa/" target="_blank"><i
                    target="_blank" class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/danielamartinscosta" target="_blank"><i
                    class="fab fa-github"></i></a>
            <a class="social-icon" href="#!" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="#!" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section> -->
<br>
<section>
    <div *ngIf="clientes.length == 0" class="alert alert-primary" role="alert">

    </div>
    <table *ngIf="clientes.length > 0" class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereço</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <th scope="row">{{cliente.id}}</th>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.cpf | formatarCpf}}</td>
                <td>{{cliente.telefone | formatarTelefone}}</td>
                <td>{{cliente.endereco}}</td>
                <td>{{cliente.data | date: 'dd/MM/yyyy'}}</td>
                <td>{{cliente.valor | currency }}</td>
              </tr>
        </tbody>
    </table>
</section>