<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Daniela
            <span class="text-dark">Martins</span>
        </h1>
        <div class="subheading mb-5">
            3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 ·
            <a href="mailto:name@email.com">name@email.com</a>
        </div>
        <p class="lead mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam modi incidunt excepturi
            dolorem dolores accusantium quibusdam autem nulla. Non temporibus ex quibusdam quae, numquam eaque
            voluptatum obcaecati ullam quos modi!
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/daniela-martins-costa/" target="_blank"><i
                    target="_blank" class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/danielamartinscosta" target="_blank"><i
                    class="fab fa-github"></i></a>
            <a class="social-icon" href="#!" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="social-icon" href="#!" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section> 
<br>
<section>
    <div *ngIf="clientes.length == 0" class="alert alert-primary" role="alert">

    </div>
    <table *ngIf="clientes.length > 0" class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereço</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <th scope="row">{{cliente.id}}</th>
                <td>{{cliente.nome}}</td>
                <!--<td>{{cliente.cpf | formatarCpf}}</td>-->
                <td>{{cliente.telefone | formatarTelefone}}</td>
                <td>{{cliente.endereco}}</td>
                <td>{{cliente.data | date: 'dd/MM/yyyy'}}</td>
                <td>{{cliente.valor.toString() | currency }}</td>
              </tr>
        </tbody>
    </table>
</section>
<section>
    <form id="contactForm">
        <!-- Name input-->
        <div class="form-floating mb-3">
            <input class="form-control is-invalid" id="nome" name="nome" type="text" [(ngModel)] = "cliente.nome"placeholder="Digite seu nome">
            <label for="nome">nome</label>
        </div>
        <!-- Email address input-->
        <div class="form-floating mb-3">
            <input class="form-control" id="endereco" name="endereco" type="email" [(ngModel)] = "cliente.endereco" placeholder="Digite seu endereço" >
            <label for="endereco">Endereço</label>
        </div>
        <button class="btn btn-primary btn-xl" id="submitButton" type="button" (click)="clicou()">Enviar</button>
        <!-- Phone number input
        <div class="form-floating mb-3">
            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" data-sb-can-submit="no">
            <label for="phone">Telefone</label>
            <div class="invalid-feedback" data-sb-feedback="phone:required">Telefone obrigatório</div>
        </div>
         Message input
        <div class="form-floating mb-3">
            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required" data-sb-can-submit="no"></textarea>
            <label for="message">Mansagem</label>
            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
        </div>
         Submit success message-->
        <!---->
        <!-- This is what your users will see when the form-->
        <!-- has successfully submitted-->
        <!-- <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                To activate this form, sign up at
                <br>
                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
        </div> -->
        <!-- Submit error message-->
        <!---->
        <!-- This is what your users will see when there is-->
        <!-- an error submitting the form
        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>-->
        <!-- Submit Button-->
        
    </form>
</section>